@use "./variables";

.card {
    padding: 10rem 5rem 2rem 5rem;
    width: 36rem;
    height: 32rem;
    border-radius: 3.2rem;
    @include variables.flex(column, nowrap, 2rem);
    position: relative;
    background: variables.$g-1;
    box-shadow: .1rem 0 1rem 0 variables.$gray;

    
    &:hover {
        z-index: 3;
    }
    svg {
        top: 2rem;
        position: absolute;
    }

    h3 {
        font-size: 2.4rem;
        font-weight: bold;
        color: variables.$g-13;
        margin: 0;
        height: 3rem;
    }

    p {
        margin: 0;
        font-size: 1.6rem;
        color: variables.$g-10;
    }
}

.card--about {
    padding: 0;
    width: 40rem;
    height: 26rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;

    svg {
        right: 70%;
        top: 35%;
        position: absolute;
    }

    h3 {
        display: flex;
        align-items: center;
        font-size: 8rem;
        height: 8rem;
        color: variables.$g-13;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.4rem;
        font-weight: bold;
        color: variables.$g-10;
    }
}

.third {
    max-height: 30rem;
    max-width: 40rem;
    padding: 0;
    gap: 0;
    margin: auto;
    border-radius: 1rem;


    svg {
        position: static;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 2rem;
        border: .2rem solid white;
        fill: variables.$B-8;
    }

    ul {
        display: flex;
        gap: .5rem;
        padding: .5rem 2rem;
    }

    h3 {
        display: flex;
        justify-content: center;
        background-color: variables.$B-3;
        border-radius: 1rem 1rem 0 0;
        text-transform: uppercase;
        height: 5rem;
        align-items: center;
    }

    img {
        max-width: 100%;
        height: 22rem;
    }

    div {
        width: 100%;
        top: 40%;
        position: absolute;
        justify-content: space-between;
        display: none;
        p{
            padding: 1rem 2rem;
            background: variables.$g-9;
            color: white;
            cursor: pointer;
        }
    }
}

.third:hover {
    div{
        display: flex;
    }
}
