@use "./variables";

#home {
  padding: 0 5% 8rem 5%;
  .home-title {
    display: flex;
    gap: 8rem;
  }

  .avatar {
    margin-top: 23rem;
    width: 40rem;
    height: 40rem;
    border-radius: 100%;
    background: variables.$g-1;
    border: 0.1rem solid variables.$g-4;
  }
}

.home-card {
  margin-top: 20rem;
  display: flex;
  justify-content: space-between;
  background: url("/src/assets/icons/2st.svg") no-repeat center;
  visibility: hidden;

  li {
    position: relative;
  }
}

.stroke-1,
.stroke-2 {
  position: absolute;
  z-index: 4;
  height: 2rem;
  width: 17rem;
  background: variables.$B-13;
  z-index: -1;
}

.stroke-1 {
  left: -17rem;
  top: 8rem;
}

.stroke-2 {
  right: -17rem;
  bottom: 8rem;
}
