@use "./variables";




.projetos {
    @include variables.flex(column, nowrap, "");
    padding: 5%;
}

.protetos-titulo {
    text-align: center;
    font-weight: 700;
    font-size: 4rem;
}

.filtro {
    display: flex;
    align-items: center;
    background: #D9D9D9;
    border-radius: 20rem;
    height: 6.4rem;
    position: relative;
    margin-top: 4rem;
    margin-bottom: 2rem;

    svg {
        position: absolute;
        bottom: 0;
    }

    ul {
        margin-left: 9rem;
        display: flex;
        gap: 1.5rem;
    }

    ul > li > p {
       padding: 1rem 2rem ; 
       background: variables.$B-3;
       border-radius: .5rem;
       font-weight: bold;
       text-transform: uppercase;
       cursor: pointer;
    }
}


.search {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    input {
        height: 4.6rem;
        min-width: 44rem;
        border-radius: 5rem;
        border: none;
        background: variables.$g-3;
        color: variables.$g-10;
        padding: 1rem 2rem;
        font-size: 2rem;
    }
}