@use "./variables";

.side-navbar {
    position: fixed;
    background: variables.$g-1;
    padding: 3rem 2rem;
    border-radius: 20rem;
    box-shadow: .1rem 0 1rem .1rem variables.$gray;
    right: 5%;
    top: 31rem;
    z-index: 2;

    ul {
        @include variables.flex(column, nowrap, 2rem);
        li {
            cursor: pointer;
        }
    }
}