@use "./variables";


#sobre {
    @include variables.flex(column, nowrap, "");
    background: variables.$g-1;
    padding: 5%;
}

#sobre > h2 {
    text-align: center;
    font-size: 4rem;
}

.sobre--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sobre--content--experiencias {
    margin-top: 28rem;
    h3, h4 {
        font-weight: bold;
    }

    h3 {
        font-size: 2rem;
    }
}

.habilidades--dominadas, .habilidades--aprendendo {
    @include variables.flex(row, nowrap, 1rem);
}

.habilidades--dominadas--container{
    margin: 4rem 0 2rem 0;
}

.experiencia--profissional {
    margin-top: 7rem;
    width: 30rem;

    ul > li {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        gap: 1rem;

        .pasta--icone {
            height: 6.4rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 3rem;
                width: .2rem;
                background: gray;
                bottom: -2.4rem;
                left: 47%;
            }
        }
    }
    
}

.formacao-academica-container {
    margin-top: 8rem;
    width: 30rem;

    ul > li {
        display: flex;
        align-items: center;
        margin: 1.5rem 0;
        gap: 1rem;
        
        .graduation-icon {
            display: flex;
            align-items: flex-start;
            // height: 6.4rem;
            position: relative;
            padding-bottom: 3.2rem;
            &::after {
                content: "";
                position: absolute;
                height: 8.5rem;
                width: .2rem;
                background: gray;
                bottom: -3.4rem;
                left: 47%;
            }

        }
    }
}

.cargo, .curso {
    font-size: 1.6rem;
}

.empresa, .instituicao {
    font-size: 1.2rem;
}

.sobre--content--resumo {
    @include variables.flex(column, nowrap, 1rem);
    align-items: flex-end;
    margin-top: 8rem;
    p {
        font-size: 2rem;
        width: 51rem;
    }
}

.sobre--card-container {
    margin-top: 8rem;
    background:  url("/src/assets/icons/Group-50.svg") no-repeat 7rem center;
    height: 968px;
    width: 620px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.card-2 {
    align-self: flex-start;
}