@use "./variables";


.title-container {
    position: relative;
    padding: 3rem 2rem 0 2rem;
    margin-top: 17rem;
    @include variables.flex(column, nowrap, 2rem);
    width: 38rem;
    height: 38rem;
    justify-content: space-between;

   .stroke {
        position: absolute;
        left: 0;
        top: 1rem;
    }

    .title-content {
        @include variables.flex(column, nowrap, 3rem);

        h1 {
            font-size: 4.8rem;
            color: variables.$g-13;
        }
        p {
            font-size: 2.4rem;
            font-weight: bold;
            color: variables.$g-10;
        }
    }

    .whatsapp {
        @include variables.flex(row, nowrap, 1rem);
        align-items: center;
        background: variables.$B-13;
        width: 16.4rem;
        height: 5.6rem;
        padding: 1rem;
        border-radius: 3rem;
        border: solid .3rem #fff;
        box-shadow: 1rem 0 2rem 1rem variables.$gray;
        cursor: pointer;
        transition: all 1s;

        &:hover {
            box-shadow: .5rem 0 1rem .5rem variables.$gray;
        }

        p {
            color: #fff;
            font-size: 1.6rem;
            font-weight: bold;
        }

        svg {
            fill: white;
        }
    }
}